.picButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

img {
    width: 200px;
    height: 200px;
    position: relative;
    right:10px;
    bottom: 1px;
    }

h1 {
    text-align: center
}

p {
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 25px;
   
}


.moreAboutMe {
    display: none;
    margin-top:5px;
}



.refresh {
    position: relative;
    margin: auto auto;
    
}

.refreshPage {
    width:10%;
    margin: auto auto;
}
